
.wow {
    color: rgb(5, 113, 237);
    font-size: 3em;
    text-align: center;
    background-color: rgba(70, 3, 3, 0.412);
    font-family: 'Courier New', Courier, monospace;
}

.M{
    color: rgb(7, 141, 146);
    font-size: 1.5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.O {
    color: rgb(130, 22, 187);
    font-size: 0.8em;
    text-align: center;
    font-family: Arial, sans-serif;
}


.V {
    color: rgb(202, 85, 85);
    font-size: 0.9em;
    text-align: center;
    font-family:  'Arial Narrow Bold', sans-serif;
}


.I {
    color: rgb(45, 68, 151);
    font-size: 1.3em;
    text-align: center;
    font-family: Georgia,  serif;
}

.E {
    color: rgb(230, 233, 15);
    font-size: 0.9em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.S {
    color: rgba(7, 114, 177, 0.784);
    font-size: 1.3em;
    text-align: center;
    font-family: 'Segoe UI',  Verdana, sans-serif;
}

























footer {
    background: #e40a70;
    color: #fff;
    text-align: center;
    padding: 0.01px ;
}



.wow {
    color: rgb(5, 113, 237);
    font-size: 3em;
    text-align: center;
    background-color: rgba(70, 3, 3, 0.412);
    font-family: 'Courier New', Courier, monospace;
}

.h {
    color: rgb(161, 14, 240);
    font-size: 1.5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.A {
    color: rgb(197, 246, 1);
    font-size: 0.8em;
    text-align: center;
    font-family: Arial, sans-serif;
}


.E {
    color: rgb(232, 50, 252);
    font-size: 0.9em;
    text-align: center;
    font-family:  'Arial Narrow Bold', sans-serif;
}


.F {
    color: rgb(128, 224, 141);
    font-size: 1.3em;
    text-align: center;
    font-family: Georgia,  serif;
}

.n {
    color: rgb(249, 2, 2);
    font-size: 0.9em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.N {
    color: rgba(255, 2, 175, 0.684);
    font-size: 1.3em;
    text-align: center;
    font-family: 'Segoe UI',  Verdana, sans-serif;
}




.LL {

    color: rgb(209, 50, 50);
    font-size: 2m;

}

.cc {

    color: rgb(16, 8, 159);
    font-size: 2m;

}

.pp {

    color: rgb(220, 216, 14);
    font-size: 2m;

}

.nn {

    color: rgb(157, 10, 91);
    font-size: 2m;

}

.aa {

    color: rgb(225, 197, 12);
    font-size: 2m;

}


.jj {

    color: rgb(224, 32, 32);
    font-size: 2m;

}



.tt {

    color: rgb(223, 94, 124);
    font-size: 2m;

}


.ee {

    color: rgb(9, 194, 241);
    font-size: 2m;

}

.QQ {

    color: rgb(197, 96, 19);
    font-size: 2m;

}


.YY {

    color: rgb(160, 38, 188);
    font-size: 2m;

}




.MM {

    color: rgb(224, 51, 12);
    font-size: 2m;

}

.WW {

    color: rgb(242, 10, 207);
    font-size: 2m;

}

.GG {

    color: rgb(197, 93, 187);
    font-size: 2m;

}



.KK {

    color: rgb(95, 16, 170);
    font-size: 2m;

}


.OO {

    color: rgb(34, 125, 6);
    font-size: 2m;

}

.OO1 {

    color: rgb(197, 78, 223);
    font-size: 2m;

}


.OO3 {

    color: rgb(230, 80, 5);
    font-size: 2m;

}

.OO2 {

    color: rgb(246, 7, 7);
    font-size: 2m;

}






.ll {
    color: rgb(253, 129, 4);
    font-size: 1.7em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


.wow {
    color: rgb(5, 113, 237);
    font-size: 3em;
    text-align: center;
    background-color: rgba(70, 3, 3, 0.412);
    font-family: 'Courier New', Courier, monospace;
}

.h {
    color: rgb(161, 14, 240);
    font-size: 1.5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.A {
    color: rgb(197, 246, 1);
    font-size: 0.8em;
    text-align: center;
    font-family: Arial, sans-serif;
}


.E {
    color: rgb(232, 50, 252);
    font-size: 0.9em;
    text-align: center;
    font-family:  'Arial Narrow Bold', sans-serif;
}


.F {
    color: rgb(128, 224, 141);
    font-size: 1.3em;
    text-align: center;
    font-family: Georgia,  serif;
}

.n {
    color: rgb(249, 2, 2);
    font-size: 0.9em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.N {
    color: rgba(255, 2, 175, 0.684);
    font-size: 1.3em;
    text-align: center;
    font-family: 'Segoe UI',  Verdana, sans-serif;
}









.first {

    color: rgba(72, 82, 226, 0.684);
}

.image___row {
    display: flex;
    gap: 108px; 
}
.image___row img {
    display: flex;
    max-width: 900px;
}


.image-row {
    display: flex;
    gap: 95px; 
}
.image-row img {
    display: flex;
    max-width: 900px;
}