.wow-1 {
    color: rgb(89, 89, 195);
    font-size: 2em;
}

.wow-2 {
    color: rgb(195, 147, 89);
    font-size: 2em;
}

.wow-3 {
    color: rgb(89, 195, 174);
    font-size: 2em;
}

.wow-4 {
    color: rgb(195, 89, 89);
    font-size: 2em;
}

.wow-5 {
    color: rgb(174, 89, 195);
    font-size: 2em;
}


#what-1 {
    color: rgb(174, 89, 195);
    font-size: 2em;
}


#white-2 {  
     color: rgb(195, 89, 89);
    font-size: 2em;
}

#whattt-3 {
    color: rgb(89, 195, 174);
    font-size: 2em;
}

#haa-4 {
    color: rgb(195, 147, 89);
    font-size: 2em;
}
#ok-5 {
    color: rgb(89, 89, 195);
    font-size: 2em;
}
